@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heroTextLeft {
  font-size: 80px;
  color: white;
  width: 40%;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 1;
  animation: slideRight 1s;
}
.heroTextRight {
  font-size: 80px;
  color: white;
  width: 40%;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 1;
  animation: slideLeft 1s;
}
.bigVid {
  width: 100vw;
  height: auto;
}
.featWorkCont {
  width: 100vw;
  height: 1000px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 25px 0;
}
.featWorkCont * {
  color: white;
}
.featWorkProjCont {
  display: flex;
  width: 100vw;
  height: 70vh;
  overflow-x: scroll;
  scrollbar-width: none;
}
.featScrollCont {
  display: flex;
  width: auto;
}
.featWorkInd {
  width: 33vw;
  height: 90%;
  position: relative;
  margin: 0 0.5vw;
}
.imgCont {
  width: 100%;
  height: 90%;
  margin-bottom: 10px;
}
.imgCont img {
  object-fit: cover;
  position: relative !important;
}
.featWorkInd p {
  color: gray;
}
.serviceCont {
  height: 75vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.servicePhoto {
  width: 50vw;
  height: inherit;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicePhoto img {
  object-fit: cover;
  width: 80%;
  height: 80%;
  object-position: bottom;
}
.serviceList {
  width: 50vw;
}
.serviceList ul li {
  list-style-type: none;
  font-size: 80px;
  font-weight: 700;
  opacity: 0.75;
  line-height: 1;
  color: white;
}
.serviceList ul li:hover {
  opacity: 1;
  transform: translateX(50px);
  transition: transform 0.25s ease-in-out;
}

/* PROJECT PAGES STYLING */
.projCont {
  width: 100vw;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projHero {
  width: 100vw;
  height: 85vh;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.projHero * {
  color: white;
  font-weight: 300;
}
.projHero h1 {
  color: white;
  font-weight: 500;
  padding: 50px;
  font-size: 120px;
  width: 90%;
  text-align: right;
}
.projHero p {
  margin: 0 auto;
  font-size: 32px;
  padding-bottom: 100px;
}
.taskCont {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  justify-content: center;
  scrollbar-width: none;
}
.horTaskCont {
  width: 300vw;
  display: flex;
  justify-content: space-between;
  scrollbar-width: none;
  position: relative;
}
.indTaskCont {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.projBack {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 1;
}
.arrowsCont {
  width: 100vw;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.underScore {
  animation-name: blink;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}
.dotCont {
  margin: 0 auto;
  display: flex;
}
.dot {
  width: 60px;
  height: 10px;
  border: 3px solid white;
  margin: 15px;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.projImgCont {
  width: 200px;
  height: auto;
  object-fit: contain;
  position: relative;
}
.lockedVidCont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.lockedVid {
  height: 80vh;
}

@keyframes dotFill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes dotLeave {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.dotFilled {
  height: 100%;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 0;
  animation: dotFill 1s;
}

.dotNotFilled {
  height: 100%;
  background-color: white;
  width: 0%;
  position: absolute;
  top: 0;
  animation: dotLeave 1s;
}
.clsOne {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 80px;
}

/* HERO COMP */
@keyframes leftShift {
  0% {
    transform: translateX(2%);
  }
  50% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(2%);
  }
}
@keyframes rightShift {
  0% {
    transform: translateX(-2%);
  }
  50% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-2%);
  }
}
.hero {
  background-color: black;
}
.heroImgHolder {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  rotate: -45deg;
}
.heroFirst {
  height: 100vh;
  width: 100%;
}
.heroSecond {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.heroSecond h2 {
  color: white;
}
.heroScroller {
  height: 200vh;
  width: 100vw;
}
.heroThird {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black !important;
  background-color: white !important;
}
.centerLeftHero {
  height: 60px;
  background-color: white;
  margin: 5px auto;
  border-radius: 50px;
  width: 400px;
}
.centerRightHero {
  height: 60px;
  background-color: white;
  margin: 5px auto;
  border-radius: 50px;
  width: 400px;
}
.oneInLeftHero {
  height: 60px;
  background-color: white;
  margin: 5px auto;
  border-radius: 50px;
  width: 330px;
}
.oneInRightHero {
  height: 60px;
  background-color: white;
  margin: 5px auto;
  border-radius: 50px;
  width: 330px;
}
.outLeftHero {
  height: 60px;
  background-color: white;
  margin: 5px auto;
  border-radius: 50px;
  width: 200px;
}
.outRightHero {
  height: 60px;
  background-color: white;
  margin: 5px auto;
  border-radius: 50px;
  width: 200px;
}
.heroScrollBox {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}
.scrollerCont {
  height: 100vh;
  width: 100vw;
}
.scrollerCont section {
  width: 100vw;
  height: 100vh;
}
